h1 {
    font-size: 26px;
}
.information h2, h3{ 
    font-weight: bold;
}
ul {
    list-style: none;
    padding: 10px;
}
p{    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a {
    color: rgba(5, 5, 182, 0.74);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    cursor: pointer;
}
input {
    flex: 1;
    border: none;

}
#search button {
    height: 100%;
}
button {
    border-left: 1px solid rgba(0, 0, 0, 0.562);
    border-right: 0px;
    border-top: 0px;
    border-bottom: 0px;
    cursor: pointer;
}
.leftBar h3 {
    text-align: left;
    font-size: 17px;
    font-weight: normal;
    margin-bottom: 2%;
}
.classMainPage {
    display: grid;
    grid-template-rows: auto auto auto;
}
.header {
    display: grid;
    grid-template-columns: auto auto auto auto;
    border-bottom: 0.3px black solid;
}
.header :first {
    position: left;
}
.menu {
    position: relative;
    display: flex;
    place-self: center;
    cursor: pointer;
}
.menu_line {
    border: 0.6px solid black;
    width: 15px;
    margin-top: 3px;
}
.menu_contents {
    display: none;
    position: absolute;
    width: 100px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.555);
    text-align: left;
    margin-left: 1px;
    margin-top: 10px;
    left: -40px;
}
.menu_contents li {
    margin-bottom: 5px;
}
.menu:hover .menu_contents,
.menu_contents:hover {
    display: block;
}
.symbolWithTitle {
    display: flex;
    place-self: center;
    align-items: center;
}
.pictOfSymbolWithTitle {
    display: inline-block;
}
.linkOfSymbolWithTitle {
    display: inline-block;
    padding-left: 5px;
}
.searchBar {
    display: block;
    place-self: center;
}
.lupa {
    border: 1px solid rgba(0, 0, 0, 0.404);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}
.createAccaount_login {
    display: flex;
    justify-content: center;
    align-items: center;
}
.createAccaount {
    display: inline-block;
    padding-right: 10px;
}

.logIn {
    display: inline-block;
    padding-left: 15px;
}
.subjectOfPage {
    display: inline-block;
    height: 100px;
    width: 75%;
    margin-left:25%;
    margin-bottom: 20px;
}
.subjectOfPage span {
    font-size: 14px;
}
.h1 {
    text-align: left;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
    margin-bottom: -10px;
    height: 45px;

}
.h2 {
    display: flex;
    gap: 20px;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
    height: 45px;
}
.h2 :last-child {
    position: relative;
}
.toolsDropdownd {
    display: flex;
    padding-right: 20px;
    margin-left: auto;
}
.toolsDropdowndContent {
    display: none;
}
.toolsDropdownd:hover .toolsDropdowndContent {
    display: block;
    position: absolute;
    width: 90px;
    border: 1px solid rgba(0, 0, 0, 0.555);
    background-color: white;
    margin-top: 1px;
    padding-left: 3px;
    text-align: left;
    left: -40px;
    bottom: -120px;
    z-index: 1;
}
.gap {
    height: 30px;
}
.classBody {
    display: grid;
    padding: 2px;
    grid-template-columns: 25% 75%;
}
.leftBar {
    padding-left: 2%;
    overflow-y: auto;
    box-sizing: border-box;
    position: sticky;
    top: 0;
}
.leftBarContents {
    text-align: start;
    display: block;
    position: fixed;
}
.leftBarContentsline {
    height: 1px;
    background-color: rgba(0, 0, 0, 0.247);
    width: 90%;
    margin-right: 20px;
    margin-left: 1%;
}
.leftBarContents span {
    font-size: 15px;
}
.topWorldFunction {
    margin-top: -8px;
}
.topWorldFunction a {
    color: black;
}
.information {
    display: grid;
    grid-template-columns: auto auto;
    flex-direction: row;
}
.rightSection {
    margin-right: 5px;
    margin-left: 10px;
    float: right;
    border: 1px solid black;
    width: 220px;
    text-align: center;
    background-color: azure;
}
.smallInformation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.infoPair {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 15px;
}
.title_in_small_information h3 {
    font-weight: bold;
    font-size: small;
    margin: 0;
}
.text_in_small_information p {
    font-weight: normal;
    font-size: small;
 margin: 0; 
 padding-left: 10px;
}
.imgCartPostal{
    display:inline-block;
    align-items: center;
    text-align: center;
    justify-content: right;
    word-wrap: break-word;
    width: fit-content;
    margin: 10px 10px;
    padding-top: 10px;
}
.imgCartPostal .cartPostal span {
    font-size: small;
    margin-bottom: 10px;
}
.imgCartPostal img {
    align-self: center;
place-self: center;
    width: 180px;
    height: auto;
}
 .overview{
    display: inline-block;
    width: 100%;
}
.lifeInParis{
    display: flex;
    align-items:flex-start ;
    flex-direction: row;
    align-self: flex-end;
    margin: 0 5px;
}
.lifeInParisText{
   flex: 1;
}
.New_elements .rightSection{
    margin-top:5%
}
.New_elements{
    display: inline-block;
align-items: flex-start;
flex-direction: row-reverse;
flex: 1; 
 margin: 0 5px;
}
.newElementsText{
    flex: 1;
    width: 100%;
    }
